/* CSS */
@font-Poppins: "Poppins";
@font-Lato: "Lato";
@font-notera: "Notera Personal Use Only";

@color-pink: #FF9FAF;
@color-brown: #A85F34;
@color-orange:#F7C73F;
@color-black: #3D3D3D;
@color-black2: #777171;
@color-green: #BED257;
@color-gray: #8E8E8E;
@color-gray2: #F9F9F9;
@color-gray3: #E2E2E2;
body {
	color: #333;
	font-size: 14px;
	font-family: @font-Lato, sans-serif;
	font-weight: normal;
	line-height: 23px;
	margin: 0;
}

.bgcover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.animatecss {
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;	
}

a {
	color: #666;
	text-decoration: none;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
	cursor:pointer;
} 

a:hover, a:active {
	color: inherit;
	text-decoration: underline;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}

.clear {
	clear: both;
}

.alpha { 
	padding-left: 0 !important; 
}

.omega { 
	padding-right: 0 !important; 
}

.no-padding {
	padding: 0 !important;
}

img.border {
	border: 1px solid #B1B1B1;
	margin-bottom: 5%;
	max-width: 100%;
}

img.border:hover, img.border:active {
	border: 1px solid #858585;
	cursor: pointer;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}

.wrapper { display: block; margin: 0 auto; text-align: center; max-width: 1166px; padding-left: 15px; padding-right:15px; }
.imgwrp img { max-width:100%;}
img {
	max-width:100%;
}
/* --------------------- HEADER LAYOUT --------------------- */
#headerweb {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	margin-top: 40px;
	.content {
		.wrapper;
	}
}

.logo {
	width: 59px;
}

.mainmenu {
	background: #fff;
	display: flex;
	justify-content:space-between;
	padding: 18px 12px;
	font-size: 18px;
	font-family: @font-Poppins;
	font-weight: 500;
	box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.13);	
	a {
		color: @color-black2;
		padding: 0 27px;
		&:hover {
			text-decoration: none;
		}
	}	
	ul {
		margin-bottom: 7px;
		display: flex;
		align-items: center;
		li {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				margin: 0 auto;
				top: 0;
				background: @color-pink; 
				width: 10px;
				height: 10px;
				border-radius: 50%;
				margin-top: -10px;
				.animatecss;
				opacity: 0;
			}
			&:hover,&.active {
				&::before {
					opacity: 1;
					.animatecss;
				}
			}
		}
	}
}





/* --------------------- END HEADER LAYOUT --------------------- */

/* --------------------- BODYWEB LAYOUT --------------------- */

#bodyweb {
}

.mainbaner {
	background: url("../images/bgmainbaner@2x.jpg") left bottom;
	.bgcover;
	display: flex;
	width: 100%;
	height: 100%;
	.content {
		.wrapper;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.left {
		text-align: left;
	}
	h4 {
		font-size: 28px;
		color: @color-brown;
		margin: 0;
	}
	h3 {
		font-size: 71px;
		font-weight: 500;
		font-family: @font-Poppins;
		margin-bottom: 20px;
	}
}

@gap: 90px;
@gap2: 50px;
@gap3: 30px;

.title {
	display: block;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: @gap2;
	h5 {
		text-transform: uppercase;
		font-size: 20px;
		font-family: @font-Lato;
		font-weight: normal;
		color: @color-brown;
		margin: 0;
		margin-bottom: 7px;
		display: block;
	}
	h3 {
		font-size: 42px;
		font-family: @font-Poppins;
		font-weight: 500;
		position: relative;
		display: inline-block;
		margin: 0;
		&::before {
			content: "";
			background: @color-pink;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			margin-top: -5px;
			margin-left: -12px;
		}
	}
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 52px;
		height: 4px;
		background: @color-orange;
	}
}

.wrp-specialproduct {
	margin: @gap2 0;
	.content {
		.wrapper;
	}
}

.btn {
	background: @color-pink;
	color: #fff;
	padding: 18px;
	font-size: 16px;
	line-height: normal;
	border: @color-pink solid 1px;
	box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.09);	
	.animatecss;
	&:hover {
		background: none;
		border:@color-pink solid 1px;
		color: @color-pink;
	}
	&.green {
		background: @color-green;
		border:@color-green solid 1px;
		&:hover {
			background: none;
			border:@color-green solid 1px;
			color: @color-green;
		}
	}
	&.white {
		background: #fff;
		color: @color-black;
		border:@color-pink solid 2px;
		box-shadow: none;
		.animatecss;
		&:hover {
			background: @color-pink;
			color: #fff;
			.animatecss;
		}
	}
	&.small {
		padding: 8px;
		min-width: 100px;
		border-radius: 5px;
	}
	&.default {
		padding: 10px;
		min-width: 150px;
	}
	&.radius {
		border-radius: 30px;
	}
}

.product-slider {
	padding: 0 30px;
	margin-bottom: @gap2+20;
	.slick-slide  {
		// margin: 0 5px;
	}
	.slick-arrow {		
		position: absolute;
		top: 30%;
		cursor: pointer;
	}
	.slick-prev {
		right: 0;
	}
	.slick-next {
		left: 0;
	}
}

.item-product {
	display: block;
	background-image: linear-gradient(@color-gray 33%, rgba(142, 142, 142, 0) 0%);
	background-position: right;
	background-size: 1px 30px;
	background-repeat: repeat-y;	
	padding: 0 40px;
	.imgwrp {
		display: flex;
		align-items: center;
		margin: 0 auto;		
		height: 400px;
		img {
			margin: 0 auto;
			max-height: 370px;
		}
	}
	h5 {
		font-family: @font-Poppins;
		font-weight: 500;
		color: @color-black;
		display: block;
	}
	label {
		color: @color-brown;
		font-weight: bold;
		font-family: @font-Lato;
		font-size: 32px;
		display: block;
		margin: 20px 0;
	}
}

.wrp-services {
	background: url("../images/bgservices.png") bottom center @color-gray2;
	.bgcover;
	min-height: 500px;
	padding: @gap2 0;
	padding-bottom: 0;
	.content {
		.wrapper;
	}
	.item-services {
		display: block;
		margin-bottom: @gap3;
		min-height: 230px;
		.imgwrp {
		}
		h4 {
			font-family: @font-Poppins;
			font-weight: 500;
			color: @color-brown;
			font-size: 24px;
			margin-top: 20px;
			margin-bottom: 7px;
		}
	}
}

.wrp-orders {
	background: url("../images/bgorder.jpg");
	padding: 50px 0;
	font-family: @font-Lato;
	font-size: 20px;
	margin: @gap3 0;
	.bgcover;
	width: 100%;
	.wrp-listorder {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	h5 {
		font-family: @font-Poppins;
		font-size: 30px;
		color: @color-orange;
		margin-top: 17px;
		margin-bottom: 5px;
	}
	p {
		margin: 0;
	}
	.itemorder {
		color: #fff;
	}
}

.wrp-bestcakes {
	margin-bottom: @gap;
	.content {
		.wrapper;
	}
}

.wrp-list-itemproducts {
	margin-bottom: @gap2;
	.col-md-4 {
		.item-product {
			margin: @gap2 0;
		}
		&:nth-child(3n+0) {
			.item-product {
				background-image: none;
			}	
		}
	}
}

.doodle-2 {
	opacity: 0.1;
}

.wrp-ourbakers {
	background: url("../images//doodle-2.svg") top center @color-gray2;
	padding: @gap 0;
	.bgcover;
	.content {
		.wrapper;
	}
}

.wrp-listbakers {
	.item-bakers {
		background: #fff;
		padding: 15px 20px;
		margin: 0 10px;
	}
	.imgwrp {
		position: relative;
		margin-bottom: -30px;
	}
	.info-people {
		background: @color-orange;
		color: #fff;
		border-radius: 7px;
		box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.16);
		padding: 10px 5px;
		position: relative;
	}
	ul {
		margin: 0;
		margin-top: 20px;
		li {
			display: inline-block;
			text-align: center;
			margin: 0 3px;
			font-size: 11px;
			a {
				background: rgba(0, 0, 0, 0.50);
				width: 22px;
				height: 22px;
				border-radius: 50%;
				display: flex;
				align-items: center;
				color: #fff;
				text-align: center;
				.animatecss;
				&:hover {
					text-decoration: none;
					background: #000;
					.animatecss;
				}
			}
			i {
				margin: 0 auto;
			}
		}
	}
	h4 {
		font-size: 20px;
		font-family: @font-Poppins;
		font-weight: 500;
		margin: 0;
	}
	h6 {
		margin: 0;
		font-size: 9px;
		font-family: @font-Lato;
	}
}

.wrp-testimoni {
	padding: @gap 0;
	.content {
		.wrapper;
	}
}

.wrp-listtestimoni {
	@gappersen: 20%;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,fef9f9+50,fef9f9+100 */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) @gappersen, rgba(254,249,249,1) @gappersen, rgba(254,249,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) @gappersen,rgba(254,249,249,1) @gappersen,rgba(254,249,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) @gappersen,rgba(254,249,249,1) @gappersen,rgba(254,249,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fef9f9',GradientType=1 ); /* IE6-9 */
	padding: @gap2 20px @gap2 0;
	padding-right: @gap2;
	padding-bottom: 60px;
	.slick-arrow {
		background: @color-orange;
		position: absolute;
		left: 0;
		bottom: 20px;
		width: 80px;
		height: 35px;
		display: flex;
		align-self: center;
		text-align: center;
		img {
			margin: 0 auto;
		}
	}
	.slick-prev {
		border: @color-orange solid 2px;
		background: none;
	}
	.slick-next {
		border: @color-orange solid 2px;
		margin-left: 100px;
	}
	.item-testimoi {
		display: flex;
		padding-top: 45px;
	}
	.left {
		flex: 1.5;
		.imgwrp {
			position: relative;
			&::before {
				content: "";
				background: url("../images/quote.svg") no-repeat center @color-pink;
				width: 90px;
				height: 90px;
				border-radius: 50%;
				right: 0;
				top: 0;
				position: absolute;
				margin-top: -40px;
			}
		}
	}
	.right {
		flex: 2;
		text-align: left;
		padding: 0 0 0 70px;
		color: @color-black2;
		h4 {
			font-family: @font-Poppins;
			font-weight: 500;
			font-size: 35px;
			color: @color-black;
		}
		h5 {
			font-family: @font-notera;
			font-size: 45px;
			color: #656565;
		}
		hr {
			border: none;
			border-top: @color-orange solid 2px;
			width: 100%;
			max-width: 260px;
			display: inline-block;
		}
	}
}

.wrp-contactus {
	background: url("../images/bgcontact.jpg") center;
	.bgcover;
	display: flex;
	align-items: center;
	color: #fff;
	padding: @gap 0;
	.wrapper {
		width: 100%;
		margin: 0 auto;
	}
	h4 {
		font-size: 38px;
		font-family: @font-Poppins;
		font-weight: 500;
		margin-bottom: 15px;
	}
	p {
		margin: 0;
	}
	.left {
		text-align: left;
		font-family: @font-Lato;
		font-weight: 300;
		font-size: 28px;
	}
	.right {
		text-align: right;
		display: flex;
		align-items: center;
	}
	.content {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}

.wrp-news {
	background: @color-gray2;
	padding: @gap 0;
	.content {
		.wrapper;
	}
}

.wrp-listnews {
	.item-news {
		background: #fff;
		text-align: left;
		display: flex;
		margin: 15px 0;
	}
	.btn {
		border-radius: 0;
		box-shadow: none;
		padding-left: 15px;
		padding-right: 15px;
		position: absolute;
		bottom: 15px;
	}
	.left, .right {
		flex: 1;
	}
	.left {
		flex: 1.2;
	}
	.right {
		padding: 20px;
		padding-bottom: 60px;
		color: @color-black2;
		display: flex;
		flex-direction: column;
		position: relative;
		h5 {
			font-weight: 300;
			font-size: 16px;
			text-transform: uppercase;
		}
		h4 {
			font-family: @font-Poppins;
			font-weight: 500;		
			font-size: 21px;
			color: @color-black;
		}
	}
}

.wrp-brands {
	padding: @gap 0;
	.content {
		.wrapper;
	}
}

.wrp-listbrands {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
/* --------------------- END BODYWEB LAYOUT --------------------- */

/* --------------------- FOOTER LAYOUT --------------------- */
#footerweb {
	background: url("../images/bgfooter.jpg") center;
	.bgcover;
	.mainlogo {
		font-size: 22px;
		font-family: @font-Poppins;
		font-weight: 500;
		margin-bottom: 20px;
		display: block;
	}
	.logo {
		width: 43px;
	}
	.content {
		font-family: @font-Lato;
		font-weight: 300;
		text-align: left;
		padding-top: 50px;
		padding-bottom: 30px;
		color: @color-gray3;
	}
	h4 {
		margin-bottom: 10px;
	}
	p {
		font-size: 16px;
		max-width: 410px;
	}
	hr {
		border: none;
		border-top: @color-gray3 solid 1px;
		margin-top: 5px;
		margin-bottom: 20px;
	}
	ul {
		&.socmed {
			margin-top: 25px;
			li {
				display: inline-block;
				a {
					font-size: 20px;
					display: block;
					padding: 5px 10px;
					&::before {
						content: none;
					}
				}
			}
		}
		li {
			a {
				color: @color-gray3;
				font-size: 16px;
				padding: 4px 0;
				display: block;
				&::before {
					content: ">";
					margin-right: 5px;
					display: inline-block;
				}
			}
		}
	}
	a {
		color: #fff;
	}
}

.copyright {
	color: #fff;
	font-size: 18px;
	font-weight: normal;
}


/* --------------------- END FOOTER LAYOUT --------------------- */

/* Mobile device */
@media (max-width: 767px) {
}

/* Tablet device */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Desktop small screen */
@media (min-width: 992px) {
}

/* Desktop large screen */
@media (min-width: 1200px) {
}

